#result {
    margin-top: 20px;
}

.product-info {
    display: flex;
    align-items: center;
}

.product-image {
    max-width: 100px;
    margin-right: 20px;
}

.sentiment-score {
    font-size: 24px;
    margin-left: 20px;
}

.sentiment-emoji {
    font-size: 68px;
}

.table {
    margin-top: 20px;
}

.navbar-brand {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
  }

  .custom-navbar {
    background-color: #131a3b;
}


.custom-navbar .navbar-brand {
    font-size: 42px;
    color: white;
}

h5 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 570;
  }